
@font-face {
    font-family: 'VT323';
    src: url("VT323-Regular.ttf");
}

.text {
    -fx-font-family: "VT323";
    -fx-font-size: 25;
}

.GameBack{
 -fx-background-image: url("Images/Background_game.png");
 -fx-background-size: 100% 100%;
}

.Background2{
 -fx-background-image: url("Images/Background2.png");
 -fx-background-size: 100% 100%;
}

.Card{
 -fx-background-image: url("Images/Card.png");
 -fx-background-size: 100% 100%;
 size <50> <50>;
}

.Card_Trophy{
-fx-background-image: url("Images/Card_Trophy.png");
-fx-background-size: 100% 100%;
}

.Card_Ring{
-fx-background-image: url("Images/Card_Ring.png");
-fx-background-size: 100% 100%;
}

.StartScreen{
-fx-background-image: url("Images/StartScreen.png");
-fx-background-size: 100% 100%;
}

.Rules{
-fx-background-image: url("Images/Paper.png");
-fx-background-size: 100% 100%;
}

.MemoryBanner{
-fx-background-image: url("Images/MemoryBanner.png");
-fx-background-size: 100% 100%;
}

.Banner{
-fx-background-image: url("Images/Banner.png");
-fx-background-size: 100% 100%;
-fx-text-fill: white;
}

.BannerSingleP{
-fx-background-image: url("Images/BannerSingleP.png");
-fx-background-size: 100% 100%;
-fx-text-fill: white;
}

.BannerMultiP{
-fx-background-image: url("Images/BannerMultiP.png");
-fx-background-size: 100% 100%;
-fx-text-fill: white;
}

.BannerHighscore{
-fx-background-image: url("Images/BannerHighscore.png");
-fx-background-size: 100% 100%;
-fx-text-fill: white;
}

.Paper{
-fx-background-image: url("Images/Paper.png");
-fx-background-size: 100% 100%;
}

.Paper2{
-fx-background-image: url("Images/Paper2.png");
-fx-background-size: 100% 100%;
-fx-font-size: 20;
}

.PlaceOne{
-fx-background-image: url("Images/1stPlace.png");
-fx-background-size: 100% 100%;
}

.PlaceTwo{
-fx-background-image: url("Images/2ndPlace.png");
-fx-background-size: 100% 100%;
}

.PlaceThree{
-fx-background-image: url("Images/3rdPlace.png");
-fx-background-size: 100% 100%;
}

.PlaceFour{
-fx-background-image: url("Images/4thPlace.png");
-fx-background-size: 100% 100%;
}